.container{
    border: solid 2px;
    margin: auto;
    padding: 20px;
    width: 50%;
}
.tb-question{
    border-collapse: collapse ;
    width: 100%;
}
.tb-question th, td{
    padding: 10px;
    border: solid 1px silver;
}
.res{
    resize: none;
}